# python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.tox
.nox
.cache
tests/**/*
tests
*.log
.git
*.example
**/*.swp
**/*.git
**/*.egg-info
**/*__pycache__
*.vscode
**/*_cache/**/*
# local data
data/

# json and .csv files
/local/**/*

# secrets
*.env
**/*.env

# venvs (if local)
.venv/**/*
.venv/