INVENTORY_API="http://0.0.0.0:8000/inventory/"
DATABASE_URI="mongodb://USER:PASSWORD@localhost:27017/?authSource=DATABASE&authMechanism=SCRAM-SHA-256"
DMP_STUDY_ID=""
DMP_PUBLIC_KEY=""
DMP_SIGNATURE=""
DMP_ACCESS_TOKEN=""
DMP_ACCESS_TOKEN_GEN_TIME=""