INVENTORY_API=""http://consumer_dev/inventory/""
# Change USER, PASSWORD, and DATABASE accordingly
DATABASE_URI="mongodb://USER:PASSWORD@localhost:27017/?authSource=DATABASE&authMechanism=SCRAM-SHA-256"
DMP_STUDY_ID=""
DMP_PUBLIC_KEY=""
DMP_SIGNATURE=""