INVENTORY_API="http://0.0.0.0:8000/inventory/" 

DATABASE_URI="mongodb://localhost:27017/"

SUPPORT_BASE_URL=""
SUPPORT_TOKEN=""

VTTSMA_AWS_ACCESSKEY=""
VTTSMA_AWS_SECRET_ACCESSKEY=""
VTTSMA_AWS_BUCKET_NAME=""
VTTSMA_GLOBAL_DEVICE_ID=""

DREEM_LOGIN_URL=""
DREEM_API_URL=""

DREEM_KIEL_USERNAME=""
DREEM_KIEL_PASSWORD=""

DREEM_NEWCASTLE_USERNAME=""
DREEM_NEWCASTLE_PASSWORD=""

DREEM_MUNSTER_USERNAME=""
DREEM_MUNSTER_PASSWORD=""

DREEM_ROTTERDAM_USERNAME=""
DREEM_ROTTERDAM_PASSWORD=""