*.egg-info/
**/*/__pycache__/
__pycache__
*.env
.idea
.vscode/launch.json
.vscode/settings.json
/data/*
ideafast-*-full.csv
ucam_db*.csv
**/.DS_Store

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
*.log
*.json
*.csv